body{
	background-image: url('/assets/src/img/app/bg-image.jpg');
}

@mixin setWidth($width) {
  width : $width;
}

@mixin setPadding($paddingTop, $paddingRight, $paddingBotton, $paddingLeft) {
  padding-top: $paddingTop;
  padding-right: $paddingRight;
  padding-bottom: $paddingBotton;
  padding-left: $paddingLeft;
}

@mixin setMargin($marginTop, $marginRight, $marginBotton, $marginLeft) {
  margin-top: $marginTop;
  margin-right: $marginRight;
  margin-bottom: $marginBotton;
  margin-left: $marginLeft;
}

@mixin setBorderRadius($radius) {
  border-radius : $radius;
}

@mixin setBackGround($background){
	background: $background;
}

@mixin setFloat($float){
	float: $float;
}


.login-container{
	@include setWidth(40%);
	@include setBorderRadius(5px);
	@include setPadding(10px, 10px, 10px, 10px);
	@include setMargin(auto, auto, auto, 0);
	@include setBackGround(#fff);
	@include setFloat(none);

	.header{
		border-bottom: 1px solid #ccc;
		@include setPadding(0px, 0px, 10px, 0px);
		
		img{
			@include setBackGround(#EC0011);
			@include setWidth(50%);
			@include setBorderRadius(2px);
			@include setFloat(right);
		}
	}
	
	h3{
		@include setPadding(15px, 0px, 0px, 15px);
		@include setMargin(0, 0, 0, 0);
	}

	label{
		@include setPadding(0px, 0px, 0px, 0.8em);
	}

	input{
		@include setMargin(auto, auto, auto, auto);
	}

	.btn-container{
		border-top: 1px solid #ccc;
		@include setPadding(1em, 0px, 0px, 0px);
	}
}

.main-container{
	.header{
		height: 50px;
		width: 100%;
		background-color: #ffbb00;
		color: #333;
		
		.header-bar{
			height: 100%;
			div.right-div, div.left-div{
				height: 100%;
			}
		}
	}
}

.refresh-icon{
  display: inline-block;
  background: url("/assets/src/img/app/refresh.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}

.add-task-icon{
  display: inline-block;
  background: url("/assets/src/img/app/add-task.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}

.logout-icon{
  display: inline-block;
  background: url("/assets/src/img/app/logout.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}

.list-icon{
  display: inline-block;
  background: url("/assets/src/img/app/list.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}


.list-view-icon{
  display: inline-block;
  background: url("/assets/src/img/app/list-view.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}


.archive-view-icon{
  display: inline-block;
  background: url("/assets/src/img/app/archive.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}

.trash-view-icon{
  display: inline-block;
  background: url("/assets/src/img/app/trash.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}


.grid-view-icon{
  display: inline-block;
  background: url("/assets/src/img/app/grid.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}


.notes-icon{
  display: inline-block;
  background: url("/assets/src/img/app/notes.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  float: left;
}

.archive-icon{
  display: inline-block;
  background: url("/assets/src/img/app/archive.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  float: left;
}

.trash-icon{
  display: inline-block;
  background: url("/assets/src/img/app/trash.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  float: left;
}



.label-icon{
  display: inline-block;
  background: url("/assets/src/img/app/label.png") center center no-repeat transparent;
  cursor: pointer;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  float: left;
}


@media all and (max-width: 768px) {
	.login-container{
		@include setWidth(95%);
		
		.header{
		 	.span_6{
		 		width : 45%;
		 	}
		}
	}
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #EDEDE8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
      color: #000;
  display: block;
  font-size: 15px;
  font-weight: 600;
  opacity: .6;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: #ffbb00;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-toggle{
	display: block;
	position: fixed;
}

.active{
	background-color: rgb(216, 179, 77);
}

 

.modal-body{
	input[type="text"]{
		height: 35px
	}
}


.ui-datepicker{
	width : 16.5% !important;
}

.ui-datepicker-calendar{
  width: 100%  !important;
  border-radius: 5px  !important;
  background-color: rgb(250, 246, 246)  !important;
}

.ui-datepicker-prev, .ui-datepicker-next{
  float: right;
  padding: 5px;
  color: #fff;
}

.ui-datepicker-title{
	height: 40px;
}

.ui-datepicker-month, .ui-datepicker-year{
	padding: 5px;
}

.notes-container{
	  width: 90%;
  float: left;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  
  .note{
  	width: 23.5%;
  float: left;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 5px;
  margin: 5px;
  margin-right: 12px !important;
  margin-bottom: 12px !important;
  
  .note-title{
  		h3{
  			border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  		}
  }
  }
}

.inactive{
	display: none;
}