<ul class="sidebar-nav">
	<li><span class="notes-icon"></span><span><a href="#">Notes </a></span></li>
	<li><span class="archive-icon"></span><span><a href="#"> Archive </a></span></li>
	<li><span class="trash-icon"></span><span><a href="#"> Trash</a></span></li>
	<li><span class="label-icon"></span><span><a href="#"> Personal </a></span></li>
	<li><span class="label-icon"></span><span><a href="#">Work </a></span></li>
	<li><span class="label-icon"></span><span><a href="#">Other</a></span></li>
</ul>
