<ul class="sidebar-nav">
	<li class="active"><span class="notes-icon"></span><span><a href="#/Notes">Notes </a></span></li>
	<li><span class="archive-icon"></span><span><a href="#/Archive"> Archive </a></span></li>
	<li><span class="trash-icon"></span><span><a href="#/Trash"> Trash</a></span></li>
	<li><span class="label-icon"></span><span><a href="#/Personal"> Personal </a></span></li>
	<li><span class="label-icon"></span><span><a href="#/Work">Work </a></span></li>
	<li><span class="label-icon"></span><span><a href="#/Others">Other</a></span></li>
</ul>
