<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xml:lang="en" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	
	<title>MarkIt - We Track IT</title>
	<link rel="shortcut icon" href="@routes.Assets.at("src/img/app/favicon.png")" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("src/css/app/styles.css")"> </link>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("src/css/lib/main.css")"> </link>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("src/css/lib/bootstrap.min.css")"> </link>

	<script data-main="@routes.Assets.at("src/config/require-config")" src="@routes.Assets.at("src/js/lib/require.js")"></script>
</head> 
<body style="background-image: none;">
	<div class="row full-layout main-container"></div>
</body>
</html>